
.register {
    /* background-color: purple; */
    height: calc(100vh - 48px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .reg-toast {
       margin: 10px;
       color: #fff;
       background-color: rgba(255, 0, 0, 0.308);
       display: block;
       width: 400px;
       text-align: center;
       padding: 10px;
       border-radius: 20px 0;
       font-size: 18px;
    }

    h2 {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        color: white;
    }

    form {
        height: 400px;
        background-image: linear-gradient(to bottom, rgba(171, 0, 238, 0.55) ,rgba(171, 0, 238, 0));
        width: 400px;
        display: flex;
        align-items      : flex-start;
        justify-content  : center;
        flex-direction: column;

        input {
            margin: 0 20px 0 20px;
            width: calc(100% - 40px);
            height: 25px;
            font-size: 16px;
            outline: none;
            padding: 15px 5px;
        }
        label {
            color: white;
            font-size: 18px;
            font-weight: 700;
            margin: 15px 20px 5px 20px;
        }

        .reg-button-wrapp {
            width: 100%;
            button {
                border: none;
                border: 1px solid rgb(13, 56, 92);
                background-color: rgb(92, 13, 85);
                font-size: 20px;
                color: #fff;
                margin: 20px 20px;
                padding: 12px 20px;
                float: right;
                
            } 
            button:hover {
                background-color: rgb(94, 168, 230);
                color: white;
                border: 1px solid black;
            }   
    
            button:active {
                outline: none;
            } 
        } 
    }    
}



